* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "poppins";
}

/* login */
/* kiri */
body {
    background-color:#F5E9DB ;
}

/* top */

.top-nav {
    width: 100%;
    height: 90px;
    display: flex;
    /* justify-content: center; */
    margin-top: 51px;
    /* padding: 51px; */

}

.heading {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav-kiri {
    display: flex;
    justify-content: start;
    width: 20%;
}

.nav-kanan {
    display: flex;
    width: 80%;
}
.logo-mark {
    width: 91px;
    height: 91px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: ;
    left: 0;
}

.nav-bar {
    width: auto;
    display: flex;
    /* flex-direction: column; */
    width: 792px;
    height: 72px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 8px;
}

.nav-bar img {
    margin-right: 9px;
}

.feature {
    width: 33.3333%;
    display: flex;
    background-color: #F5F5F5;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    justify-content: center;
    align-items: center;
}
.catalog {
    width: 33.3333%;
    display: flex;
    background-color: #F5F5F5;
    margin: 0 12px 0 12px;
    justify-content: center;
    align-items: center;
}
.craft {
    width: 33.3333%;
    display: flex;
    background-color: #EE754F;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 500;
}



/* top */

.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 31px;

}


.container {
    width: 1194px;
    max-width: 100%;
    margin: auto;
    /* height: auto; */
}
.login-flex {
    display: flex;
}

.login-menu-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    padding: 84px 73px 132px 76px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 166px;
    height: 166px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.logo img {
    width: 72px;
    height: 72px;
    /* justify-content: center;
    align-items: center; */
}

.brand {
    font-style: italic;
    font-size: 18px;
    padding-top: 33px;
}

.login-input {
    padding-top: 96px;
    width: 456px;
}
.login-input label {
    font-size: 11px;
}
.number {
    width: 100%;
    height: 50px;
    margin-bottom: 19px;
    border-radius: 5px;
    border: none;
}
.password {
    width: 100%;
    height: 50px;
    margin-bottom: 33px;
    border-radius: 5px;
    border: none;
}
.tombol {
    background-color: #000000;
    width: 100%;
    height: 82px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
}
/* kiri */

/* kanan */

.login-menu-right {
    width: 50%;
    height: auto;
    /* padding: 33px 26px; */
    /* background-image: url(img/Rectangle\ 2.png); */
    /* background-size: cover; */
    background-color: #FFFFFF;
    position: relative;
}

.content {
    /* background-position: center; */
    position: relative;
    padding: 33px 26px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.deskripsi {
    width: 477px;
    max-width: 100%;
    height: 176px;
    position: absolute;
    /* z-index: 100; */
    display: flex;
    flex-direction: column;
    /* opacity: 1; */
    background-color:rgba(255, 255, 255, 0.17) ;
    bottom: 50px;
    padding: 25px 34.5px;
    color: #FFFFFF;
}

.deskripsi .profil {
    display: flex;
    text-align: center;
}
.parfume {
    font-size: 31px;
    text-align: center;
    font-family: "dm serif display";
    font-size: 31px;
}
.parfume::after {
    content: "";
    position: absolute;
    width: 20px;
    border: 1px solid #FFFFFF;
    top: 49px;
    left: 166px;
}
.designer {
    font-size: 11;
    position: relative;
    top: 17px;
    padding-left: 49px;
}
.deskripsi .arrow {
    display: flex;
    align-items: right;
    position: relative;
    left: 123px;
}
.arrow-right, .arrow-left {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    background-color:  rgba(255, 255, 255, 0.3);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spasi {
    width: 9px;
}
.deskripsi .isi {
    display: flex;
    font-size: 13px;
}

/* kanan */
/* login */

/* attendance */
.greetings {
    /* width: 563px; */
    /* height: 453px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.wellcome {
    font-size: 17px;
}

.name {
    font-family: "DM Serif Display";
    font-style: italic;
    font-size: 70px;
    color: #EE754F;
    padding-bottom: 30px;
}

.id {
    padding: 20px 30px;
    border-top: 1px solid #CBB498;
    margin-bottom: 51px;
}

.list-style1 {
    list-style: none;
    display: inline-block;
    position: relative;
    margin-bottom: 25px;

}
.list-style1:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #000000;
    position: absolute;
    border-radius: 50%;
    left: 0px;
    top: 7px;
}
.list-style1 li {
    display: inline-block;
}
.list-style1 li:first-child {
    margin-right: 20px;
    padding-left: 15px;

}
.long-line {
    display: inline-block;
    width: 50px;
    height: 1px;
    background-color: #000;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.black-box {
    display: flex;
    /* flex-direction: column; */
    background-color: #000000;
    height: 82px;
    width: 456px;
}

.mark {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mark b {
    font-size: 17px;
    color: #FFFFFF;
    text-align: center;
}

.jam {
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.kotak-jam {
    width: 124px;
    height: 56px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kotak-jam b {
    font-size: 20px;
    padding-left: 14px;
}

.cancel {
    margin-top: 51px;
}
/* attendance */

/* fragrance 1 */

.judul {
    display: flex;
    align-items: center;
    margin-top: 74px ;
}


.judul div {
    font-size: 30px;
    font-family: "dm serif display";
    display: inline-block;
}

/* fragrance 1 */

.slide {
    display: inline-block;
    margin-top: 43px
}
.slide-content li {
    display: inline-block;
    position: relative;
    list-style: none;
    padding-left: 40px;
    border-bottom: 1px solid #ffffff;
    padding-right: 36px;
}

.slide-content li:first-child {
    border-bottom: 1px solid #000000;
}

.slide-content li::before {
    content: "";
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    left: -3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-content li:first-child:before {
    content: "1" ;
    color: #FFFFFF;
    background-color: #000;
    position: absolute;
}

.slide-content li:nth-child(2):before {
    content: "2";
    /* color: #000; */
}
.slide-content li:last-child::before {
    content: "3";
}

/* slide 4 */

.slide-content .black-slide::before {
    background-color: #000000 ;
    color: #FFFFFF;
}
.slide-content .black-slide {
    border-bottom: 1px solid #000000;
}

.next {
    width: 60%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 17px;
    font-weight: 500;
}

.select {
    width: 40%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.white-box {
    width: 175px;
    height: 56px;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.white-box div span {
    font-weight: 700;
}


.pyramid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 72px;
    margin-bottom: 35px;
}

.pyramid1 {
    width: 269px;
    background-color: #F4D3C1;
    height: 67px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    position: relative;
}
.pyramid2 {
    width: 407px;
    background-color: #F1A386;
    height: 67px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    position: relative;
}
.pyramid3 {
    width: 521px;
    background-color: #EE754F;
    height: 67px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    position: relative;
}
.pyramid img {
    width: 15px;
    height: 15px;
    right: 20;
    position: absolute;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* lab 3 end */



/* lab 4 */

.white-box-large {
    width: 468px;
    height: 58px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    margin-top: 71px;
    position: relative;
}
.white-box-large img {
    position: absolute;
    right: 19px;
}

.option {
    display: inline-block;
    position: relative;
    left: -20px;
    margin-top: 18px;
    margin-bottom: 78px;

}

.option div {
    background-color: #EE754F;
    color: #FFFFFF;
    font-size: 13px;
    margin: 8px;
    border-radius: 5px;
    padding: 8px 14px 8px 31px;
    position: relative;
    display: inline-block;
}

.option div::before {
    content: url(img/carbon_close.png);
    width: 16px;
    height: 16px;
    padding-right: 6px ;
    padding-left: 8px;
    position: absolute;
    left: 0;
    bottom: 10px;
}

.option div:last-child {
    display: block;
    width: fit-content;
}

/* lab 4 */

/* lab 5 */

.nav-kanan-filter {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #555555;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
}

.product-and-search-bar {
    display: flex;
    margin-top: 85px;
    position: relative;
    height: 58px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.product-and-search-bar .left {
    width: 50%;
    /* display:; */
    position: absolute;
    left: 0;
    font-family: "dm serif display";
    font-size: 35px;
    padding-left: 45px;
}
.product-and-search-bar .right {
    width: 50%;
    display: flex;
    position: absolute;
    justify-content: right;
    right: 0;
    padding-right: 45px;
}
.product-and-search-bar .right input {
    width: 300px;
    height: 58px;
    border: none;
    padding-left: 21px;
    /* background: transparent url(img/search.png) no-repeat 24px; */
}
.product-and-search-bar .right button {
    width: 36px;
    /* background-image: url(img/search.png) no-repeat center; */
    /* background: transparent; */
    border: none;
    background-color: #FFFFFF;
    padding-right: 21px;
    cursor: pointer;
}

.mid-lab-art5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 31px;
    flex-direction: column;
    margin-top: 55px;
}
.catalog-parfume {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    margin-bottom: 31px;
    /* flex-direction: column; */
}
.catalog-parfume:last-child {
    margin-bottom: 0;

}
.catalog-grid1 {
    width: 219px;
    height: 242px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 8px 7px;
    /* margin-right: 38px; */
}
.catalog-grid1 img {
    width: 204px;
    height: 225px;
    border-radius: 5px;
}

.page-number {
    display: flex;
    justify-content: center;
    margin-top: 83px;
    
}

.page-number div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-left: 14px;
}

.page-number div:first-child {
    margin-left: 0;
    background-color: #EE754F;
}
/* lab 5 end */

/* lab 6 */

.flex-content-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 31px;

}
.content-kiri {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.wrap-content {
    /* width: 76%; */
    margin-left: 240px;
    background-color: #FFFFFF;
    padding: 35px 42px 55px 40px;
    position: relative;
}
.wrap-content .judul6 {
    font-family: "dm serif display";
    font-size: 45px;
    padding-right: 14px;
}

.wrap-content .edp {
    font-size: 11px;
    padding-left: 47px;
    position: relative;
}
.edp::before {
    content: "";
    width: 40px;
    border: 1px solid #000000;
    position: absolute;
    left: 0;
    top: 7px;
}

.wrap-content .detail-content {
    font-size: 14px;
    padding-top: 26px;
}

.home-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    position: relative;
    width: 457px;
    height: 78px;
    /* left: 0; */
}

.try-again {
    width: 220px;
    height: 78px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    position: absolute;
    left: 0;
}

.home {
    width: 220px;
    height: 78px;
    background-color: black;
    border: 1px solid black;
    color: #FFFFFF;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    position: absolute;
    right: 0;
}
.content-kanan {
    width: 30%;
    margin-right: 142px;
    padding-bottom: 114px;
}
.image {
    padding-left: 71px;
    
    /* box-shadow: black; */
}


/* lab 6 */
