* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "poppins";
}

/* navbar */

.top-nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100;
    background-color: #ffffffe6;
}
.navbar {
    max-width: 100%;
    width: 1000px;
    height: 70px;
    margin: auto;
    display: flex;

}

/* nav kiri */
.nav-kiri {
    width: auto;
}
.nav-logo {
    height: 70px;
    width: auto;
}
.nav-logo a img {
    height: 30px;
    width: auto;
}
.nav-logo a {
    display: inline-block;
    margin-top: 20px;
}
/* nav kiri */

/* nav kanan */

.nav-kanan {
    display: inline-flex;
    justify-content: end;
    width: 100%;
    height: 70px;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    list-style: none;
    text-align: right;
    
}

.nav-menu {
    padding: 0px 20px;
}

.nav-menu a {
    color: black;
    font-weight: 400;
    font-size: 14px;
    /* font-style: ; */
}
/* nav kanan */
/* navbar */

/* halaman 1 */

.halaman1 {
    width: 1000px;
    margin: auto;
}
.pembagi-halaman1 {
    display: flex;
    height: 800px;
    width: 1000px;
}

/* halaman 1 kiri */
.halaman1-kiri {
    display: flex;
    justify-content: center;
    height: 800px;
    width: 50%;
}

.heading {
    font-size: 25px;
    color: black;
    font-weight: 700;
    line-height: 65px;
    margin-top: 200px;
}
.paragraph {
    font-weight: 300;
    font-size: 15px;
    color: #555;
    margin: 20px 0 30px 0;
    
}

.join {
    background-color: #e71e5f;
    padding: 15px 35px;
    width: auto;
    border-radius: 5px;
    display: inline-block;
}
.join a {
    color: white;
    width: auto;
}
/* halaman 1 kiri */

/* halaman 1 kanan */

.halaman1-kanan {
    margin-top: 166px;
    padding: 0px 50px 0px 100px;
}
.halaman1-kanan img {
    width: 350;
    height: auto;
}
/* halaman 1 kanan */
/* halaman 1 */

/* halaman 2 */

.halaman2 {
    background-color: rgb(240, 236, 236);
    height: auto;
}
.halaman-luar {
    width: 1000px;
    max-width: 100%;
    margin: auto;
}
.halaman-luar h2 {
    padding: 75px 0px 20px 0px;
    font-weight: 700;
    font-size: 30px;
}

.content-box {
    display: flex;
    justify-content: stretch;
    /* align-items: start; */
}

.ckiri:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
.content:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
.ckanan:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
.content {
    display: inline-block;
    padding: 40px;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 5px;
}

.content .icon {
    border-radius: 50%;
    background-color: #ffe8ef;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.icon img {
    width: 30px;
    height: 30px;
}

.content1 {
    font-weight: 500;
    font-size: 18px;
    margin-right: -40px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.content2 {
    font-size: 12px;
    margin-bottom: 20px;
}

.content2 .a, .link-more {
    color: #e71e5f;
}

.ckiri {
    margin-left: 0;
}
.ckanan {
    margin-right: 0;
}


/* halaman 2 */

/* halaman 3 */

.halaman3 {
    padding: 80px 0px;
    background-color: rgb(240, 236, 236);
    height: auto;
}

.halaman-luar3 {
    width: 1000px;
    max-width: 100%;
    margin: auto;
}

.top-heading {
    display: flex;
}

.top-kiri {
    width: 66.66%;
}

.top-kanan {
    width: 33.33%;
    text-align: right;
}
.top-kanan div a {
    color: #e71e5f;
    background-color: #ffffff;
    border: 1px solid #e71e5f;
    padding: 10px 25px;
    border-radius: 5px;
    display: inline-block;
    font-weight: 400 ;
    font-size: 14px;
}

.top-kanan div {
    position: relative;;
}

.grid-content {
    display: flex;
}

.grid-kiri {
    width: 50%;
    /* display: ; */
}

.grid-kiri-atas {
    /* height: 200px; */
    width: 100%;
    background-size: cover;
    background-position: center;
    border: 5px solid #fff;
    position: relative;
    background-color: #fff;
    /* background-image: url(img/Konten\ Gambar\ Website_page-0001.jpg); */
}
.timbul {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    flex-direction: column;
    z-index: 100;
    background-color: rgba(0, 0, 0, 75);
    opacity: 0;
    transition: 0.3s ease-in-out;

}

.timbul:hover {
    opacity: 1;
}
.timbul .atas {
    font-size: 11px;
    color: #fff;
}
.timbul .bawah {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
.timbul a {
    color: #fff;
    border: 1px solid #cfdb25 !important;
    font-size: 10px;
    padding: 8px 20px;
    border-radius: 20px;
    margin-top: 15px;
}
.detail svg {
     fill: #ffffff;
}

.grid-kiri-bawah1 {
    flex-direction: column;
    width: 50%;
    /* height: 200px; */
    background-size: cover;
    background-position: center;
    border: 5px solid #fff;
    position: relative;
    float: left;
    /* background-image: url(img/Konten\ Gambar\ Website_page-0002.jpg); */
    background-color: #fff;
}

.grid-kiri-bawah2  {
    flex-direction: column;
    width: 50%;
    /* height: 200px; */
    background-size: cover;
    background-position: center;
    border: 5px solid #fff;
    position: relative;
    float: right;
    /* background-image: url(img/Konten\ Gambar\ Website_page-0003.jpg); */
    background-color: #fff;
}

.grid-tengah {
    width: 25%;
}
.grid-tengah-atas {
    background-color: #fff;
    /* background-image: url(img/Konten\ Gambar\ Website_page-0004.jpg); */
    flex-direction: column;
    width: 100%;
    /* height: 200px; */
    background-size: cover;
    background-position: center;
    border: 5px solid #fff;
    position: relative;
}

.grid-tengah-bawah {
    background-color: #fff;
    /* background-image: url(img/Konten\ Gambar\ Website_page-0006.jpg); */
    flex-direction: column;
    width: 100%;
    /* height: 200px; */
    background-size: cover;
    background-position: center;
    border: 5px solid #fff;
    position: relative;
}

.grid-kanan {
    width: 25%;
    
}
.grid-kanan1 {
    /* background-image: url(img/Konten\ Gambar\ Website_page-0005.jpg); */
    background-color: #fff;
    flex-direction: column;
    width: 100%;
    /* height: 400px; */
    background-size: cover;
    background-position: center;
    border: 5px solid #fff;
    position: relative;
}



.timbul :hover {
    background-color: rgba(0, 0, 0, .75);
    transition: .2s;
}

/* halaman 3 */

/* halaman 4 */
.halaman4 {
    /* padding: 80px 0px; */
    display: block;
    background-color: rgb(240, 236, 236);
}

.halaman-luar4 {
    width: 1000px;
    max-width: 100%;
    margin: auto;
}

.heading4 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.content4 {
    font-size: 13px;
    color: #555;
    text-align: center;
}

.grid-mitra {
    display: flex;
}

.logo-mitra {
    background-color: #fff;
    border: 1px solid #eee;
    background-size: 75% auto;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 7rem;
    width: 200px;
    margin: 40px 10px;

}
.logo-mitra:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

/* halaman 4 */

/* halaman 5 */

.halaman5 {
    padding: 80px 0px;
    display: block;
    background-color: rgb(240, 236, 236);
}

.halaman-luar5 {
    width: 1000px;
    max-width: 100%;
    margin: auto;
}

.heading5 {
    margin-bottom: 30px;
    font-weight: 700;
}
.content5 {
    font-size: 13px;
    color: #777;
}

.grid-testi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testi {
    padding: 20px;
    background-color: #fff;
    margin: 30px 10px;
}

.profil {
    display: flex;
}

.foto img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.nama {
    display: block;
}

.namanya {
    font-weight: 500;
}
.title {
    list-style: none;
    font-size: 11px;
    display: ;
}
.title li {
    display: inline-block;
    padding-right: 15px;
    position: relative;
}
.title li span {
    color: #e71e5f;
    font-weight: 500;
}
.isi {
    font-size: 12px;
    margin-top: 20px;
    line-height: 20px;
    color: #555;
}

.deskripsi {
    margin-bottom: 20px;
}

/* halaman 5 */

/* halaman 6 */

.halaman6 {
    /* padding: 80px 0; */
    background-color: rgb(240, 236, 236);
    height: auto;
    padding-bottom: 80px;
    /* margin-bottom: 80px; */
}
.halaman-luar6 {
    width: 1000px;
    max-width: 100%;
    margin: auto;
}
.top-heading6 {
    display: flex;
}
.top-kiri6 {
    width: 66.66%;
}
.top-kanan6 {
    width: 33.33%;
    text-align: right;
}

.grid-article {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
}

.article {
    padding: 20px;
    background-color: #fff;
    margin-top: 30px;
    width: 100%;
}
 .article img {
    align-items: center;
    height: 10rem;
    width: 100%;
    max-width: 100%;
 }

 .deskripsi-blog {
    padding: 20px;
    background-color: #fff;
 }

 .judul-blog {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
 }

 .isi-blog {
    font-size: 12px;
    color: #555;
 }
 .waktu {
    margin-top: 20px;
    list-style: none;
    margin-left: 0;
    padding: 0;
    font-size: 12px;
    color: #555;
    display:flex ;
 }

/* halaman 6 */

/* footer */

.footer {
    padding: 50px 0 0;
    /* background-color: rgb(240, 236, 236); */
    height: auto;
    background-color: #8c2370;
    color: #fff;
    width: 100%;
}

.footer-luar {
    margin-bottom: 50px;
}

.top-footer {
    display: flex;
    width: 1000px;
    max-width: 100%;
    margin: auto;
    /* padding-bottom: 30px; */
}

.top-kiri-footer {
    width: 66.66%;
}

.top-kanan {
    width: 33.33%;
    text-align: right;
}
.top-kanan-footer div a {
    color: #73205b;
    background-color: #cfdb23;
    border: 1px solid #cfdb23;
    padding: 10px 25px;
    border-radius: 5px;
    display: inline-block;
    font-weight: 400 ;
    font-size: 14px;

}

.top-kanan div {
    position: relative;
}

.bot-footer {
    position: relative;
    padding-top: 80px;
}
.bot-footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: linear-gradient(270deg,#801d65 15.99%,#e0215c 120.07%);
    /* background-color: #cfdb23; */
    /* z-index: 100; */
    border-top-right-radius: 50px;
}

.flex-content-footer {
    display: flex;
    padding-bottom: 20px;
}
.content-footer-kiri {
    width: 50%;
    padding-right: 40px;
}
.content-footer-kiri .footer-logo {
    max-width: 100%;
    height: auto;
}
.content-footer-kiri .company {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
}
.content-footer-kiri .alamat {
    margin-bottom: 20px;
    font-size: 13px;
    color: #ddd;
}

.bot-footer-luar {
    position: relative;
    width: 1000px;
    max-width: 100%;
    margin: auto;
}
.sosmed {
    list-style: none;
}
.sosmed li {
    display: inline-block;
}
.sosmed li a {
    width: 35px;
    height: 35px;
    background-color: #cfdb23;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sosmed li a svg {
    width: 20px;
    height: 20px;
    color: #8c2370;
}

.content-footer-tengah {
    width: 25%;
    padding-right: 40px;
}
.footer-company {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}
.company-list {
    list-style: none;
}
.company-list li {
    margin-bottom: 8px;
    padding-left: 18px;
}
.company-list li a {
    color: #ddd;
    font-size: 13px;
}

.content-footer-kanan {
    width: 25%;
    padding-right: 40px;
}

.credit {
    color: #ddd;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    display: flex;
    font-size: 12px;
}
.credit-kiri {
    text-align: left;
    width: 50%;
}
.credit-kanan {
    text-align: right;
    width: 50%;
}
.credit-ul {
    list-style: none;
}
.credit-ul li {
    margin: 0 10px;
    display: inline-block;
}