* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: 0;
    font-family: "inter";
}

.container {
    width: 1440px;
    max-width: 100%;
    margin: auto;
}

/* login page */

.page-flex {
    display: flex;
}

.login-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 251px;
    width: 37%;
}

.login-left h4 {
    font-size: 50px;
    color: #E0215C;
}

.login-left p {
    font-size: 24px;
    margin-top: 14px;
    margin-bottom: 52px;
}

.login-left label {
    color: #E0215C;
    font-size: 20px;
    margin-bottom: 10px;
}
.email {
    margin-bottom: 32px;
}
.password {
    margin-bottom: 50px;
}

.login-left input {
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    height: 50px;
}

.login-left button {
    height: 50px;
    border-radius: 24px;
    background-color: #E0215C;
    color: #FFFFFF;
    border: none;
    font-size: 24px;
    margin-top: 50px;
}

.login-left a {
    color: #E0215C;
    font-size: 14px;
    text-align: center;
    margin-top: 24px;
}

.login-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63%;
    margin-top: 262px;
}

.next-arrow {
    padding-left: 34%;
    margin-top: 113px;
}

/* login page */

/* home page */
.container-home {
    width: 100%;
    /* max-width: 100%; */
}

.home-page-flex {
    display: flex;
    position: relative;
}
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 0;
    width: 22.22%;
}

.sidebar-logo {
    margin: 54px 75px 85px 76px;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;

}

.logo-menu {
    height: 60px;
    font-size: 20px;
    /* background-color: gray; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 27px;
    padding-left: 80px;
    cursor: pointer;
}
.logo-menu svg {
    margin-right: 8px;
    /* fill: #E0215C; */
    /* fill: #E0215C; */
}

.logo-menu:hover {
    background-color: #fce9ef;
    color: #E0215C;
    border-left: 23px solid #E0215C;
    position: relative;
    /* left: -5px; */
    padding-left: 75px;
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
}
.logo-menu:hover svg path {
    fill: #E0215C;
}

.sidebar-menu a {
    color: #383838;
}
/* .beranda {
    background-color: #FCE9EF;
    color: #E0215C;
    border-left: 5px solid #E0215C;
    margin-top: 0;
} */
/* .beranda img {
    background-color: ;
} */

.flex-home {
    display: flex;
    width: 77.78%;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
}

.bg-merah {
    background-image: url(img/Group\ 45.png);
    background-color: #E0215C;
    height: 166px;
    width: 100%;
    position: relative;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom: 8px solid #000000;
}

.absen-tanggal {
    position: absolute;
    top: 27px;
    /* margin-bottom: 24px; */
}
.absen-tanggal p {
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}
.absen-tanggal .lokasi {
    font-size: 14px;
    /* text-align: center; */
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.absen-grid {
    display: flex;
    gap: 24px;
}

.box-absen {
    background-color: #FFFFFF;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 137px;
    width: 305px;
    /* text-align: center; */
    /* padding: 24px 46.83px; */
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.1); */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.box-absen h4 {
    font-size: 32px;
    color: #404040;
    position: relative;
}

.box-absen button {
    border: none;
    background-color: #E0215C;
    border-radius: 24px;
    /* padding: 4px 41.65px; */
    color: #FFFFFF;
    height: 32px;
    width: 212px;
    cursor: pointer;
}

.point h4::before {
    content: url(img/kado.png);
    position: absolute;
    left: -44;
    top: 7px;
}
.point h4::after {
    content: "Pts";
    width: 30px;
    height: 14px;
    border-radius: 24px;
    background-color: #E0215C;
    font-size: 10px;
    color: #FFFFFF;
    text-align: center;
    top: 0;
    position: absolute;
}

.point button::after {
    content: "?";
    color: #FFFFFF;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #E0215C;
    position: absolute;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 34px;
}

.point {
    align-items: start;
    padding-left: 67px;
}
.point h4 {
    left: 0;
}
.absen-grid .point .redeem-b {
    width: 87px;
    left: 0;
}
.home-menu-grid {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 100px;
    width: 843px;
    margin-top: 100px;
    left: 60px;
    
}


/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */










.box-menu {
    text-align: center;
    /* font-size: 20px; */
    margin-top: 8px;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    
}
.box-menu:hover {
    border-radius: 12px;
    background-color: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 35px 37px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
    transition: 0.3s ease-in-out ;
    transform: scale(1.1);
    position: relative;
    visibility: visible;
}

.box-menu a {
    position: absolute;
    visibility: hidden;
    bottom: 0;
    color: #383838;
    font-size: 20px;
    font-weight: 500;
    /* z-index: 100; */
    /* text-align: center; */
}

.box-menu:hover a {
visibility: visible;
/* position: fixed; */
}

/* .box-menu img:after {
    content: "Cuti";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 99;
    color: #383838;
    font-size: 20px;
    bottom: 100;
} */
/* .box-menu .border-img {
    border-radius: 12px;
    background-color: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 35px 37px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
} */

/* home page */
/* home page */
/* home page */
/* home page */
/* home page */
/* home page */
/* home page */
/* home page */
/* home page */
/* home page */
/* home page */
/* home page */
/* home page */
/* home page */

/* profil */

.data-pribadi-home {
    position: absolute;
    top: 67px;
}

.data-pribadi-home p {
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}
.box-putih {
    width: 963px;
    height: 137px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-top: 24px;
}

.content-mid {
    margin-top: 38px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: start;
    flex-direction: column;
    position: relative;
    width: 1003px;
    padding: 35px 16px 24px 16px;
    left: -20px;
}

.form-content-mid {
    margin-top: 24px;
    position: relative;
}
.content-mid .reset{
    font-size: 24px;
    color: #E0215C;
    font-weight: 400px;
}

.content-mid .ganti {
    font-size: 16px;
    width: 346px;
    color: #737373;
}

.form-content-mid label {
    margin-top: 24px;
    font-size: 16px;
    color: #383838;
}

.form-content-mid input {
    height: 50px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    margin-top: 14px;
    margin-bottom: 24px;
    width: 100%;
}

.confirm {
    margin-top: 24px;
    display: flex;
    justify-content: end;
    /* right: 0; */
    /* display: flex; */
}

.confirm button {
    height: 35px;
    border-radius: 5px;
    border: 1px solid #E0215C;
    background-color: #E0215C;
    color: #FFFFFF;
    margin-left: 12px;
    padding: 10px 16px;
    font-weight: 600;
    cursor: pointer;
}

.confirm .batal {
    background-color: #FFFFFF;
    color: #E0215C;
}

.form-content-mid select {
    width: 100%;
    height: 50px;
    
}
/* profil */

